p{color:brown
    (71, 4, 4);
font: size x-large;
font-weight:high;
font-family::-webkit-meter-suboptimum-value;
}
body{background-color:wheat;
}

div

{
    max-width: 1100px;
    margin: auto;
}
